.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  background: #fff;
  padding: 2.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  text-align: center;
  z-index: 1;

  h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1.5rem;
  }

  .passwordDescription {
    font-size: 1rem;
    color: #555;
    margin: 1rem 0;
    text-align: left;
  }

  .input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 40px 10px 10px;
    border-radius: 0.5rem;
    font-size: 1rem;
    outline: none;

    &:focus {
      border-color: #2563eb;
    }
  }

  .error {
  color: #f98f8f;
  font-size: 15px;
  margin-bottom: 20px;
}

  .button {
    width: 100%;
    margin-top: 20px;
    padding: 0.75rem;
    background-color: #2563eb;
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #1e40af;
    }

     &:disabled {
      opacity: 0.5;
      border: 1px solid #ccc;
      background-color: #f5f5f5;
      color: #000;
      cursor: not-allowed;
    }
  }

  .backLink {
  display: inline-flex;
  align-items: center;
  margin-top: 1rem;
  color: #2563eb;
  font-size: 0.9rem;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;

  svg {
    margin-right: 0.5rem; 
    vertical-align: middle;
    fill: currentColor;
    transition: transform 0.3s ease;
  }

  &:hover {
    color: #1e40af;

    svg {
      transform: translateX(-3px);
    }
  }
}

}

.passwordInput {
  position: relative;
  display: flex;
  align-items: center;

  input {
    width: 100%;
    height: 100%;
    padding: 10px 40px 10px 10px;

    @media (max-width: 480px) {
      font-size: 14px;
    }
  }

  .toggleIcon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #666;
    font-size: 18px;

    &:hover {
      color: #000;
    }
  }

  @media (max-width: 480px) {
    width: 100%;
  }
}
