.search {
    width: 90%;
    height: 30px; 
    margin: 20px 45px 20px 0; 

    &Input {
        width: 100%;
        outline: none;
        font-size: 1rem;
        border-radius: 10px;
        border: 1px solid #000;
        background: transparent;
        height: 36px;
        padding: 0 10px;
        border-radius: 8px;
        border: 1px solid #ccc;
        transition: border-color 0.3s;

        &:hover {
            border-color: #2684FF;
        }

         &:focus {
            outline: none;
            border-color: #2684FF;
        }
    }
}